<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Tutorial.TestNG_Day1"/>
      <class name="Tutorial.TestNG_Day2"/>
    </classes>
  </test>
  <test name ="loan">
    <classes>
      <class name = "Tutorial.Day3">
 	    <methods>
 	      <exclude name = "mobilelogin"/>
 	    </methods>
      </class>
    </classes>
  </test>
  <test name = "pack">
    <packages>
       <package name ="Tutorial"/>
    </packages>
  </test>
</suite> 
